body{
  background-color: #42353d;
}

/*CAROUSEL*/

.carousel-item{
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.s1{
  background-image: url(../img/carousel1.jpg);
}
.s2{
  background-image: url(../img/carousel1.jpg);
}
.s3{
  background-image: url(../img/carousel1.jpg);
}

.carousel-caption{
  z-index: 1;
  padding: 5% 0 0;
  top: 30%;
  background-color: rgba(0,0,0,.5)
}